.additional-item {
  display: grid;
  padding: 12px 0 18px 0;

  line-height: 14px;

  border-bottom: 1px solid var(--grey-3);

  @include media-min(md) {
    align-items: baseline;
    padding: 23px 37px 27px;

    column-gap: 29%;

    grid-template-columns: repeat(2, 1fr);
    row-gap: 21px;
  }

  @include media-min(xl) {
    align-items: center;
    padding: 15px 0;

    column-gap: 9%;

    grid-template-columns: repeat(3, 1fr);
  }
  row-gap: 12px;
}

.additional-item:first-of-type {
  border-top: 1px solid var(--grey-3);
}

.additional-item__title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  color: var(--black-3);
  text-transform: uppercase;

  @include media-min(md) {
    font-size: 20px;
  }
}

.additional-item__description {
  display: flex;
  justify-content: space-between;
  margin: 0;

  font-family: "Arial", sans-serif;

  @include media-min(md) {
    justify-content: end;

    font-size: 16px;
    line-height: 20px;
    column-gap: 21%;
  }

  @include media-min(xl) {
    justify-content: space-between;
    max-width: 50%;
    margin-top: 6px;

    grid-column: 2/4;
    grid-row: 1/2;
  }
}

.additional-item__value {
  flex-shrink: 0;

  @include media-min(md) {
    min-width: 44px;
    margin: 0;
    text-align: end;
  }

  @include media-min(xl) {
    text-align: start;
  }
}

.additional-item__button {
  padding: 10px 0 10px 0;

  font-size: 16px;
  line-height: 20px;

  @include media-min(md) {
    grid-column: 1/-1;
  }

  @include media-min(xl) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
