.additional-item {
  display: grid;
  flex-direction: column;
  padding: 14px 0 18px 0;

  line-height: 14px;

  border-bottom: 1px solid var(--grey-3);

  @include media-min(md) {
    padding: 26px 37px 27px;

    column-gap: 29%;

    grid-template-columns: repeat(2, 1fr);
  }

  @include media-min(xl) {
    align-items: center;
    padding: 15px 0;

    column-gap: 9%;

    grid-template-columns: repeat(3, 1fr);
  }
}

.additional-item:first-of-type {
  border-top: 1px solid var(--grey-3);
}

.additional-item__title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--black-3);
  text-transform: uppercase;

  @include media-min(md) {
    font-size: 20px;
  }
}

.additional-item__description {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 0 0;

  font-family: "Arial", sans-serif;

  @include media-min(md) {
    justify-content: end;
    margin: 3px 0 0 0;

    font-size: 16px;
    line-height: 20px;
    column-gap: 22%;
  }

  @include media-min(xl) {
    justify-content: space-between;

    grid-column: 2/4;
    grid-row: 1/2;
    max-width: 50%;
  }
}

.additional-item__value {
  @include media-min(md) {
    min-width: 43px;
    margin: 0;
  }
}

.additional-item__button {
  margin: 15px 0 0 0;
  padding: 10px 0 10px 0;

  font-size: 16px;
  line-height: 20px;

  @include media-min(md) {
    margin: 22px 0 0 0;

    grid-column: 1/-1;
  }

  @include media-min(xl) {
    margin: 0;

    grid-column: 3/4;
    grid-row: 1/2;
  }
}
