.address {
  position: relative;
}

.address--background {
  background-color: var(--grey-5);
}

.address__inner {
  display: grid;
  padding: 26px 0;

  grid-template-columns: repeat(2, 1fr);

  @include media-min(md) {
    display: grid;
    padding: 60px 40px;

    column-gap: 10%;
  }

  @include media-min(xl) {
    position: absolute;
    top: 96px;

    width: 565px;
    padding: 60px 0;

    column-gap: 80px;

    background-color: var(--white);
  }
}

.address__title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--black-2);
  text-transform: uppercase;

  @include media-min(md) {
    padding-right: 40%;
    padding-top: 3px;
    font-size: 20px;
    line-height: 26px;
  }

  @include media-min(xl) {
    padding-left: 80px;
    padding-right: 0;
  }
}

.address__text {
  font-style: unset;
  line-height: 20px;
  font-family: "Arial", sans-serif;

  @include media-min(md) {
    padding-left: 40%;

    font-size: 16px;
    text-align: end;
  }

  @include media-min(xl) {
    text-align: start;
    padding-left: 10px;
  }
}

.address__text-city {
  @include media-min(md) {
    display: inline-block;
    margin-top: 18px;
  }
}

.address__map {
  display: block;
  width: 100%;
  height: 362px;

  border: none;

  @include media-min(md) {
    height: 400px;
  }
}
