.banner {
  display: flex;
  min-height: 290px;
  padding: 0 60px 43px;

  text-align: center;

  background-color: var(--green-3);
  background-image: url("../img/interface/background/gift-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.banner__text {
  margin: auto 0 0;

  font-size: 16px;
  line-height: 20px;
  color: var(--white);
}
