.case {
  padding-top: 23px;
  padding-bottom: 42px;

  font-family: "Oswald", "Arial", sans-serif;
  letter-spacing: -0.01em;

  background: linear-gradient(0deg, var(--grey-5) 100%, var(--white) 100%);

  @include media-min(md) {
    position: relative;
    padding-top: 35px;
    padding-bottom: 60px;

    letter-spacing: normal;

    background: linear-gradient(0deg, var(--grey-5) 43%, var(--white) 43%);

    &::before {
      content: "";
      position: absolute;
      top: 0;

      display: block;
      width: 100%;
      height: 1px;

      background-color: var(--white-2);
    }
  }

  @include media-min(xl) {
    padding-top: 0;
    padding-bottom: 50px;

    background: linear-gradient(0deg, var(--grey-5) 73%, var(--white) 73%);

    &::before {
      content: none;
    }
  }
}

@include media-min(xl) {
  .case__grid {
    display: grid;

    column-gap: 6.5%;

    grid-template-columns: repeat(2, 1fr);
  }
}

.case__inner {
  display: grid;
  align-self: start;
  margin-bottom: 30px;

  @include media-min(md) {
    margin-bottom: 70px;

    grid-template-columns: 1.2fr 1fr;
  }

  @include media-min(xl) {
    margin-bottom: 0;
    padding-top: 32px;
    grid-template-columns: 1fr;
  }
}

.case__title {
  @include title;

  margin: 0 0 24px 0;

  grid-column: 1/-1;

  @include media-min(md) {
    margin-bottom: 41px;
  }

  @include media-min(xl) {
    margin-bottom: 123px;
  }
}

.case__descripriton {
  margin-bottom: 6px;

  font-family: "Arial", sans-serif;

  grid-column: 1/-1;

  @include media-min(md) {
    margin-bottom: 39px;

    font-size: 16px;
    line-height: 24px;
  }

  @include media-min(xl) {
    margin-bottom: 55px;
    padding-right: 135px;
  }
}

.case__progress {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  row-gap: 40px;
  column-gap: 11%;

  @include media-max(md) {
    margin-bottom: 20px;
  }

  @include media-min(md) {
    column-gap: 12%;
    margin-right: 21px;
  }

  @include media-min(xl) {
    justify-content: start;
    column-gap: 8%;
  }
}

.case__progress-row {
  position: relative;

  display: flex;
  flex-grow: 1;
  flex-basis: 124px;
  justify-content: center;
  padding: 14px;

  border: 1px solid var(--grey-3);
  border-radius: 3px;

  @include media-min(md) {
    padding: 17px;
  }

  @include media-min(xl) {
    flex-grow: 0;
    flex-basis: 162px;
  }
}

.case__progress-definition {
  position: absolute;
  bottom: -16px;

  width: min-content;
  padding: 0 10px;

  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  text-align: center;

  background-color: var(--grey-5);

  @include media-min(md) {
    bottom: -8px;

    width: max-content;

    font-size: 14px;
    line-height: 14px;
  }

  @include media-min(xl) {
    bottom: -6px;
  }
}

.case__progress-value {
  width: max-content;
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  color: var(--black);
  text-transform: uppercase;

  @include media-min(md) {
    font-size: 30px;
    line-height: 37px;
  }
}

.case__price {
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 0.01em;

  @include media-min(md) {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    font-size: 20px;
    line-height: 20px;
    text-align: end;

    row-gap: 9px;
  }

  @include media-min(xl) {
    flex-direction: row;
    margin-top: 46px;

    column-gap: 61px;
  }
}

.case__slider {
  width: 320px;
  margin: 0 auto;

  @include media-min(md) {
    width: 572px;
  }

  @include media-min(xl) {
    margin: 0;
  }
}
