.catalog__title {
  @include title;

  margin-top: 24px;
  margin-bottom: 30px;

  @include media-min(md) {
    margin-top: 55px;
    margin-bottom: 50px;
  }

  @include media-min(xl) {
    margin-top: 67px;
  }
}

.catalog__list {
  display: grid;
  padding: 5px 0;

  @include media-min(md) {
    padding: 25px 0 35px;

    column-gap: 9%;

    grid-template-columns: repeat(2, 1fr);
    row-gap: 57px;
  }

  @include media-min(xl) {
    padding-top: 30px;
    padding-bottom: 40px;

    column-gap: 6.5%;

    grid-template-columns: repeat(4, 1fr);
    row-gap: 63px;
  }
}

.catalog__item {
  position: relative;

  @include media-min(md) {
    display: flex;
  }
}

.catalog__item::before,
.catalog__item::after {
  @include media-max(md) {
    content: "";
    position: absolute;

    align-self: start;
    width: 200vw;
    height: 1px;

    background-color: var(--grey-7);
    transform: translateX(-50%);
  }
}

.catalog__item::before {
  top: 0;
}

.catalog__item::after {
  bottom: 0;
}

.catalog__show-more {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 0 24px;

  text-align: center;
  color: var(--black-3);
  text-decoration: none;

  @include media-min(md) {
    margin-top: 85px;
    padding: 50px 35px 35px;

    border: 2px solid var(--grey-5);
  }

  @include media-min(xl) {
    margin-top: 80px;
    padding-bottom: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 25px;

    display: block;
    width: 30px;
    height: 30px;

    background-image: url("../img/interface/other/icon-plus.svg");
    background-size: cover;

    @include media-min(md) {
      top: 48px;

      width: 60px;
      height: 60px;
    }
  }
}

.catalog__item-title {
  width: 100%;
  margin-top: 52px;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @include media-min(md) {
    width: 65%;
    margin-top: 107px;
    margin-bottom: 24px;

    font-size: 20px;
    line-height: 22px;
  }

  @include media-min(xl) {
    width: 100%;
  }
}

.catalog__text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;

  @include media-min(md) {
    margin-bottom: 66px;
    padding: 0 25px;

    font-size: 16px;
    line-height: 18px;
  }

  @include media-min(xl) {
    padding: 0;
  }
}

.catalog__button {
  align-self: stretch;
  margin-top: 21px;
  background-color: var(--grey-5);
  color: var(--grey);

  @include media-min(md) {
    padding: 10px;

    font-size: 16px;
  }
}

.catalog__show-more:hover .catalog__button {
  color: var(--grey);

  background-color: var(--grey-7);
}

.catalog__show-more:active .catalog__button {
  opacity: 0.3;
}
