.footer {
  padding: 36px 0 25px 0;

  background-color: var(--grey-5);

  @include media-min(md) {
    padding: 55px 0;
  }

  @include media-min(xl) {
    padding: 60px 0;
  }
}

.footer__inner {
  display: flex;
  flex-direction: column;

  @include media-min(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo {
  padding-bottom: 29px;

  text-align: center;

  border-bottom: 1px solid var(--grey-6);

  @include media-min(md) {
    align-self: end;
    padding: 0;

    border: none;
  }
}

.footer img {
  display: inline-block;
}

.footer__social-list {
  padding: 20px 0 17px 0;

  border-bottom: 1px solid var(--grey-6);

  @include media-min(md) {
    align-self: center;
    margin-left: 29px;
    padding: 0;

    border: none;
  }
}

.footer__madeby {
  @include media-max(md) {
    padding-top: 22px;
  }
}

.footer__madeby-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;

  @include media-min(md) {
    align-items: center;
  }
}

.footer__madeby-link:hover .social-list__image {
  fill: var(--green);
}

.footer__madeby-link:active {
  opacity: 0.3;
}

.footer__madeby-text {
  margin: 0 26px 0 0;

  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: var(--grey);
  letter-spacing: -0.02em;
}
