.form {
  display: grid;
  padding-bottom: 33px;

  font-size: 16px;
  line-height: 18px;
  color: var(--grey);
  text-transform: uppercase;

  @include media-min(md) {
    padding: 0 40px 69px;
    padding-bottom: 69px;

    font-size: 20px;
    line-height: 30px;
  }

  @include media-min(xl) {
    padding: 0 0 76px;

    column-gap: 6.5%;

    grid-template-columns: repeat(2, 1fr);
  }
}

.form__title {
  @include title;

  margin-top: 24px;
  margin-bottom: 30px;

  text-transform: none;

  @include media-min(md) {
    margin-top: 55px;
    margin-bottom: 50px;
  }

  @include media-min(xl) {
    margin-top: 67px;
  }
}

.form__sub-title {
  @include sub-title;

  width: min-content;
  margin: 0;

  line-height: 26px;
  text-transform: none;

  @include media-min(md) {
    width: fit-content;

    line-height: 36px;
  }
}

.form__text-lead {
  width: 250px;
  margin-top: 0;
  margin-bottom: 14px;

  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;

  @include media-min(md) {
    width: 350px;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 30px;
  }

  @include media-min(md) {
    grid-column: 1/-1;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  @include media-min(xl) {
    grid-column: 1/-1;
  }
}

.form__fieldset--cats {
  margin-top: 25px;

  @include media-min(md) {
    margin-top: 45px;
  }

  @include media-min(xl) {
    grid-column: 1/2;
  }
}

.form__fieldset--target {
  margin-top: 23px;

  color: var(--black-3);

  @include media-max(md) {
    position: relative;

    padding-top: 23px;
    padding-bottom: 19px;

    &::before,
    &::after {
      content: "";
      position: absolute;

      display: block;
      width: 200vw;
      height: 1px;

      background-color: var(--grey-6);
      transform: translateX(-50%);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  @include media-min(md) {
    margin-top: 72px;
    padding: 24px 28px;

    border: 1px solid var(--grey-8);
  }

  @include media-min(xl) {
    margin-top: 45px;

    grid-column: 2/3;
  }
}

.form__fieldset--user {
  margin-top: 23px;

  @include media-min(md) {
    margin-top: 72px;
  }

  @include media-min(xl) {
    margin-top: 67px;
  }
}

.form__fieldset--review {
  margin-top: 23px;

  @include media-min(md) {
    margin-top: 64px;
  }

  @include media-min(xl) {
    margin-top: 67px;
  }
}

.form__fieldset--additional {
  margin-top: 23px;
  color: var(--black);

  @include media-min(md) {
    margin-top: 64px;
  }

  @include media-min(xl) {
    margin-top: 67px;
  }
}

.form__section {
  display: grid;
  row-gap: 13px;

  @include media-min(md) {
    row-gap: 20px;
  }
}

.form__section--target {
  @include media-min(md) {
    row-gap: 14px;
  }
}

.form__section--user {
  margin-top: 37px;

  @include media-min(md) {
    margin-top: 77px;
  }

  @include media-min(xl) {
    column-gap: 6%;

    grid-template-columns: repeat(2, 1fr);
  }
}

.form__section--review {
  margin-top: 37px;

  @include media-min(md) {
    margin-top: 76px;
  }
}

.form__section--additional {
  margin-top: 37px;
  row-gap: 12px;

  @include media-min(md) {
    margin-top: 58px;

    column-gap: 9.5%;

    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
  }

  @include media-min(xl) {
    column-gap: 6.5%;

    grid-template-columns: repeat(4, 1fr);
  }
}

.form__label {
  position: relative;

  display: flex;
  align-items: center;

  column-gap: 5%;

  cursor: pointer;

  @include media-min(md) {
    column-gap: 20px;
  }
}

.form__label--radio:active,
.form__label--checkbox:active {
  opacity: 0.3;
}

.form__text {
  flex-grow: 1;
  width: 100px;
  padding: 10px 15px;

  font-weight: 400;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
  text-transform: inherit;

  border: 1px solid var(--grey-8);

  &:hover {
    border-color: var(--grey-3);
  }

  &:focus {
    outline: 2px solid var(--grey);
    outline-offset: -1px;
  }

  &::placeholder {
    color: inherit;
    opacity: 1;
  }

  &:not(:placeholder-shown):invalid {
    outline-color: var(--orange);
  }

  @include media-min(xl) {
    padding-right: 18px;
    padding-left: 18px;
  }
}

.form__input-icon {
  position: absolute;
  width: 20px;
  height: 20px;

  &--email {
    right: 14px;
    mask: url("../img/interface/other/icon-email.svg") no-repeat center;
    background-color: var(--black-3);

    @include media-min(md) {
      right: 22px;
    }
  }

  &--tel {
    right: 14px;
    mask: url("../img/interface/other/icon-phone.svg") no-repeat center;
    background-color: var(--black);
  }
}

.form__text:focus + .form__input-icon {
  background-color: var(--green);
}

.form__text:not(:placeholder-shown):invalid + .form__input-icon {
  background-color: var(--orange);
}

.form__radio {
  @include radio;

  order: -1;
}

.form__checkbox {
  @include checkbox;

  order: -1;
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  margin: 0;
  padding: 10px 14px;

  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
  text-transform: inherit;

  border: 1px solid var(--grey-8);

  resize: unset;

  &:focus {
    outline: 2px solid var(--grey);
    outline-offset: -1px;
  }

  &::placeholder {
    color: inherit;
    opacity: 1;
  }

  @include media-min(md) {
    min-height: 174px;
    padding-right: 19px;
    padding-left: 19px;
  }
}

/* stylelint-disable */
.form__text::-webkit-outer-spin-button,
.form__text::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form__text[type="number"] {
  -moz-appearance: textfield;
}
/* stylelint-enable */

.form__footer {
  display: grid;
  margin-top: 34px;

  @include media-min(md) {
    margin-top: 55px;

    column-gap: 10%;

    grid-template-columns: repeat(2, 1fr);
  }

  @include media-min(xl) {
    margin-top: 60px;

    column-gap: 6.5%;

    grid-column: 1/-1;
  }
}

.form__button {
  @include media-min(md) {
    padding: 15px 15px 12px;
  }
}

.form__reminder {
  margin-top: 21px;

  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-transform: initial;

  justify-self: center;

  @include media-min(md) {
    align-self: center;
    margin-top: 0;

    font-size: 16px;

    justify-self: start;
  }
}
