.popular-category {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 20px;

  @include media-min(md) {
    row-gap: 30px;
  }

  @include media-min(xl) {
    flex-direction: row;

    column-gap: 80px;

    row-gap: 40px;
  }
}

.popular-category__item {
  position: relative;

  padding: 33px 7% 21px;

  background-color: var(--grey-5);

  @include media-min(md) {
    padding: 72px 44.5% 56px 52px;
  }

  @include media-min(xl) {
    width: 570px;
    padding-right: 4.5%;
  }
}

.popular-category__item::before {
  content: "";
  position: absolute;
  top: 8%;
  left: 4%;

  display: block;
  width: 70px;
  height: 55px;

  background-repeat: no-repeat;
  background-position: center;
}

.popular-category__item--slim::before {
  background-image: url("../img/interface/other/cat-back.svg");
  background-size: 50px 53px;

  @include media-min(md) {
    top: 82px;
    right: 62px;
    left: unset;

    width: 200px;
    height: 211px;

    background-size: contain;
  }

  @include media-min(xl) {
    top: 40px;
    left: 9%;

    width: 100px;
    height: 106px;
  }
}

.popular-category__item--pro::before {
  background-image: url("../img/interface/other/cat-muscle.svg");
  background-size: 67px 50px;

  @include media-min(md) {
    top: 92px;
    right: 28px;
    left: unset;

    width: 268px;
    height: 200px;

    background-size: contain;
  }

  @include media-min(xl) {
    top: 46px;
    left: 34px;

    width: 134px;
    height: 100px;
  }
}

.popular-category__title {
  margin: 0 0 33px 71px;

  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: var(--black);
  text-transform: uppercase;

  @include media-min(md) {
    margin: 0 0 20px 0;

    font-size: 36px;
  }

  @include media-min(xl) {
    margin: 0 0 69px 162px;
  }
}

.popular-category__text {
  margin-bottom: 18px;
  padding-bottom: 22px;

  font-family: "Arial", sans-serif;

  border-bottom: 1px solid var(--grey-6);

  @include media-min(md) {
    margin-bottom: 53px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;

    border: unset;
  }

  @include media-min(xl) {
    margin-bottom: 28px;
  }
}

.popular-category__button {
  position: relative;

  display: inline-block;
  padding-right: 49px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;

  @include media-min(md) {
    padding-right: 57px;

    font-size: 20px;
    line-height: 30px;
  }

  @include media-min(xl) {
    padding-right: 61px;
    margin-bottom: 2px;
  }
}

.popular-category__button:active {
  opacity: 0.3;
}

.popular-category__button::before {
  content: "";
  position: absolute;
  top: 15%;
  right: 8px;

  display: block;
  width: 24px;
  height: 12px;

  background-image: url("../img/interface/other/arrow-right@wider.svg");
  background-position: right;

  @include media-min(md) {
    top: 28%;
  }
}

.popular-category__button:hover::before {
  right: 0;

  width: 32px;

  transition: all 0.4s ease;
}
