.product-item {
  position: relative;

  display: grid;
  align-items: start;
  padding-top: 23px;
  padding-bottom: 24px;

  font-size: 12px;
  line-height: 16px;
  color: var(--black-3);

  grid-template-columns: repeat(2, 1fr);

  @include media-min(md) {
    padding: 10px 36px 39px;

    font-size: 16px;

    background: linear-gradient(0deg, rgba(242, 242, 242, 1) 84%, rgba(255, 255, 255, 1) 84%);

    grid-template-columns: 1fr;
  }

  @include media-min(xl) {
    padding-top: 1px;
    padding-bottom: 40px;
  }
}

.product-item::before {
  @include media-max(md) {
    content: "";
    position: absolute;
    top: 0;

    width: 200vw;
    height: 1px;
    background-color: var(--grey-7);
    transform: translateX(-50%);
  }
}

.product-item__title {
  justify-self: start;
  width: 65%;
  margin: 0 0 12px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @include media-min(md) {
    width: 65%;
    margin-bottom: 21px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;

    justify-self: center;
  }

  @include media-min(xl) {
    width: 80%;
    margin-bottom: 24px;
    padding-left: 5px;

    line-height: 21px;
  }
}

.product-item__picture {
  grid-row: 1/3;
  justify-self: center;

  @include media-min(md) {
    margin-bottom: 33px;

    grid-row: unset;
  }

  @include media-min(xl) {
    margin-bottom: 46px;
  }
}

.product-item__image {
  object-fit: none;

  @include media-min(md) {
    width: 168px;
    height: 200px;

    object-position: bottom;
  }

  @include media-min(xl) {
    width: 172px;
    height: 196px;
  }
}

.product-item__description {
  margin: 0 0 22px 0;

  font-family: "Arial", sans-serif;

  @include media-min(md) {
    margin-bottom: 27px;
  }

  @include media-min(xl) {
    padding: 0 2px 0 5px;
    margin-bottom: 27px;
  }
}

.product-item__description-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-min(md) {
    margin-bottom: 8px;
    padding-bottom: 6px;

    border-bottom: 1px solid var(--grey-3);
  }

  @include media-min(md) {
    margin-bottom: 7px;
    padding-bottom: 8px;
  }
}

.product-item__definition {
  flex-basis: 60%;
}

.product-item__value {
  margin: 0;
}

.product-item__button {
  padding: 10px;

  font-size: 16px;
  line-height: 20px;

  grid-column: 1/-1;

  @include media-min(md) {
    align-self: end;
  }
}
