.site-navigation {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;

  @include media-min(md) {
    display: flex;

    column-gap: 16px;
  }
}

// класс для мобильного меню, добавляемый при клике
.site-navigation--open {
  position: fixed;
  top: 65px;
  right: 0;
  left: 0;
  z-index: 1;

  display: block;

  text-align: center;

  background-color: var(--white);
}

.site-navigation--open .site-navigation__item {
  padding-top: 23px;
  padding-bottom: 20px;

  border-top: 1px solid  var(--white-2);
}

.site-navigation__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;

  @include media-min(md) {
    position: relative;

    display: flex;
    padding: 10px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @include media-min(xl) {
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
  }
}

.site-navigation__link:hover {
  opacity: 0.6;
}

.site-navigation__link:active {
  opacity: 0.3;
}

.site-navigation__link--current::before {
  @include media-min(md) {
    content: "";
    position: absolute;
    bottom: 0;

    display: block;
    width: calc(100% - 20px);
    height: 2px;

    background-color: var(--green);
  }

  @include media-min(xl) {
    bottom: 4px;

    background-color: var(--white);
  }
}
