.sub-catalog {
  @include media-min(xl) {
    display: grid;
    align-items: start;

    column-gap: 6.5%;

    grid-template-columns: repeat(4, 1fr);
  }
}

.sub-catalog__title {
  @include sub-title;

  grid-column: 1/-1;

  @include media-min(md) {
    padding-left: 37px;
  }

  @include media-min(xl) {
    padding-left: 0;
  }
}

.sub-catalog__list {
  display: grid;
  row-gap: 1px;

  @include media-min(md) {
    border-right: 1px solid var(--grey-3);
    border-left: 1px solid var(--grey-3);
  }

  @include media-min(xl) {
    grid-column: 1/4;
    border: none;
  }
}

.sub-catalog__banner {
  @include media-min(xl) {
    grid-column: 4/5;
  }
}
