.sub-catalog {
  @include media-min(xl) {
    display: grid;

    column-gap: 6.5%;

    grid-template-columns: repeat(4, 1fr);
  }
}

.sub-catalog__title {
  @include sub-title;

  grid-column: 1/-1;

  @include media-min(md) {
    padding-left: 37px;
  }

  @include media-min(xl) {
    padding-left: 0;
  }
}

.sub-catalog__list {
  grid-column: 1/4;
}

.sub-catalog__banner {
  @include media-min(xl) {
    grid-column: 4/5;
  }
}
