@mixin title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  font-family: "Oswald", "Arial", sans-serif;
  color: var(--black);

  @include media-min(md) {
    font-size: 60px;
  }
}

@mixin sub-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: var(--black);
  position: relative;

  @include media-min(md) {
    font-size: 36px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 100%;
    z-index: -1;

    display: block;
    width: 100vw;
    height: 2px;
    margin-left: 20px;

    background-color: var(--green);

    @include media-min(md) {
      top: 22px;
      margin-left: 40px;
    }
  }

  &::before {
    @include media-min(md) {
      content: "";
      position: absolute;
      top: 22px;
      right: 100%;
      z-index: -1;

      display: block;
      width: 100vw;
      height: 2px;
      margin-right: 40px;

      background-color: var(--green);
    }
  }
}
