{% extends 'base.njk' %}
{% set title = 'Кэт энерджи: каталог' %}
{% set name_page = 'catalog' %}

{% block content %}
  <div class="container">
    <section class="catalog">
      <h1 class="catalog__title">Каталог продукции</h1>

      <div class="catalog__list">
        {% set product_list = [{
          'title': 'Cat Energy PRO 500&nbsp;г',
          'massa': '500 г',
          'taste': 'Курица',
          'price': '700 Р.',
          'images': [{
            'image_mobile': 'chicken-500-mobile@1x',
            'image_mobile2x': 'chicken-500-mobile@2x',
            'image_tablet': 'chicken-500-tablet@1x',
            'image_tablet2x': 'chicken-500-tablet@2x',
            'image_desktop': 'chicken-500-desktop@1x',
            'image_desktop2x': 'chicken-500-desktop@2x'
          }]
        }, {
          'title': 'Cat Energy PRO 1000&nbsp;г',
          'massa': '1000 г',
          'taste': 'Курица',
          'price': '1000 Р.',
          'images': [{
            'image_mobile': 'chicken-1000-mobile@1x',
            'image_mobile2x': 'chicken-1000-mobile@2x',
            'image_tablet': 'chicken-1000-tablet@1x',
            'image_tablet2x': 'chicken-1000-tablet@2x',
            'image_desktop': 'chicken-1000-desktop@1x',
            'image_desktop2x': 'chicken-1000-desktop@2x'
          }]
        }, {
          'title': 'Cat Energy PRO 500&nbsp;г',
          'massa': '500 г',
          'taste': 'Рыба',
          'price': '700 Р.',
          'images': [{
            'image_mobile': 'fish-500-mobile@1x',
            'image_mobile2x': 'fish-500-mobile@2x',
            'image_tablet': 'fish-500-tablet@1x',
            'image_tablet2x': 'fish-500-tablet@2x',
            'image_desktop': 'fish-500-desktop@1x',
            'image_desktop2x': 'fish-500-desktop@2x'
          }]
        }, {
          'title': 'Cat Energy PRO 1000&nbsp;г',
          'massa': '1000 г',
          'taste': 'Рыба',
          'price': '1000 Р.',
          'images': [{
            'image_mobile': 'fish-1000-mobile@1x',
            'image_mobile2x': 'fish-1000-mobile@2x',
            'image_tablet': 'fish-1000-tablet@1x',
            'image_tablet2x': 'fish-1000-tablet@2x',
            'image_desktop': 'fish-1000-desktop@1x',
            'image_desktop2x': 'fish-1000-desktop@2x'
          }]
        }, {
          'title': 'Cat Energy SLIM 500&nbsp;г',
          'massa': '500 г',
          'taste': 'Гречка',
          'price': '400 Р.',
          'images': [{
            'image_mobile': 'buckwheat-500-mobile@1x',
            'image_mobile2x': 'buckwheat-500-mobile@2x',
            'image_tablet': 'buckwheat-500-tablet@1x',
            'image_tablet2x': 'buckwheat-500-tablet@2x',
            'image_desktop': 'buckwheat-500-desktop@1x',
            'image_desktop2x': 'buckwheat-500-desktop@2x'
          }]
        }, {
          'title': 'Cat Energy SLIM 1000&nbsp;г',
          'massa': '1000 г',
          'taste': 'Гречка',
          'price': '700 Р.',
          'images': [{
            'image_mobile': 'buckwheat-1000-mobile@1x',
            'image_mobile2x': 'buckwheat-1000-mobile@2x',
            'image_tablet': 'buckwheat-1000-tablet@1x',
            'image_tablet2x': 'buckwheat-1000-tablet@2x',
            'image_desktop': 'buckwheat-1000-desktop@1x',
            'image_desktop2x': 'buckwheat-1000-desktop@2x'
          }]
        }, {
          'title': 'Cat Energy SLIM 500&nbsp;г',
          'massa': '500 г',
          'taste': 'Рис',
          'price': '500 Р.',
          'images': [{
            'image_mobile': 'rice-500-mobile@1x',
            'image_mobile2x': 'rice-500-mobile@2x',
            'image_tablet': 'rice-500-tablet@1x',
            'image_tablet2x': 'rice-500-tablet@2x',
            'image_desktop': 'rice-500-desktop@1x',
            'image_desktop2x': 'rice-500-desktop@2x'
          }]
        }] %}

        {% for product in product_list %}
        <article class="product-item">
          <a href="#">
            {% for image in product.images %}
              {{ picture(
                path_file='img/content/catalog/',
                class_name='product-item__image',
                mobile_image=image.image_mobile,
                mobile_image2x=image.image_mobile2x,
                tablet_image=image.image_tablet,
                tablet_image2x=image.image_tablet2x,
                desktop_image=image.image_desktop,
                desktop_image2x=image.image_desktop2x,
                width='172',
                height='196',
                webp='true'
              ) }}
            {% endfor %}
          </a>
          <h3 class="product-item__title">{{ product.title | safe }}</h3>
          <dl class="product-item__description">
            <div class="product-item__description-row">
              <dt class="product-item__definition">Масса</dt>
              <dd class="product-item__value">{{ product.massa }}</dd>
            </div>
            <div class="product-item__description-row">
              <dt class="product-item__definition">Вкус</dt>
              <dd class="product-item__value">{{ product.taste }}</dd>
            </div>
            <div class="product-item__description-row">
              <dt class="product-item__definition">Цена</dt>
              <dd class="product-item__value">{{ product.price }}</dd>
            </div>
          </dl>
          <a class="product-item__button button" href="#">Заказать</a>
        </article>
        {% endfor %}

        <div class="catalog__item">
          <a class="catalog__show-more" href="#">
            <h3 class="catalog__item-title">Показать еще 100500 товаров</h3>
            <span class="catalog__text">На самом деле вкусов гораздо больше!</span>
            <span class="catalog__button button">Показать все</span>
          </a>
        </div>
      </div>
    </section>

    <section class="sub-catalog">
      <h2 class="sub-catalog__title">Дополнительные товары</h2>

      <div class="sub-catalog__list">
        {% set additional_catalog = [{
          'title':  'Сахарозаменитель',
          'measure':  '1 упаковка (100 г)',
          'price':  '200 Р.'
        }, {
          'title':  'Питьевая вода',
          'measure':  '5 литров',
          'price':  '50 Р.'
        }, {
          'title':  'Молоко',
          'measure':  '1 литр',
          'price':  '100 Р.'
        }, {
          'title':  'Витамины',
          'measure':  '1 упаковка (30 г)',
          'price':  '300 Р.'
        }] %}

        {% for item in additional_catalog %}
          <article class="additional-item">
            <h3 class="additional-item__title">{{ item.title }}</h3>
            <dl class="additional-item__description">
              <dt class="additional-item__definition">{{ item.measure }}</dt>
              <dd class="additional-item__value">{{ item.price }}</dd>
            </dl>
            <a class="additional-item__button button" href="#">Заказать</a>
          </article>
        {% endfor %}
      </div>

      <aside class="sub-catalog__banner banner">
        <p class="banner__text">
          Закажите все
          и&nbsp;получите&nbsp;чехол&nbsp;для
          кота в подарок!
        </p>
      </aside>
    </section>
  </div>
{% endblock %}
