{% extends 'base.njk' %}
{% set title = 'Кэт энерджи: каталог' %}
{% set name_page = 'catalog' %}

{% block content %}
  <div class="container">
    <section class="catalog">
      <h1 class="catalog__title">Каталог продукции</h1>

      <div class="catalog__list">
        {% set product_list = [{
          'title':  'Cat Energy PRO 500&nbsp;г',
          'massa':  '500 г',
          'taste':  'Курица',
          'price':  '700 Р.',
          'image':  'chicken-500'
        }, {
          'title':  'Cat Energy PRO 1000&nbsp;г',
          'massa':  '1000 г',
          'taste':  'Курица',
          'price':  '1000 Р.',
          'image':  'chicken-1000'
        }, {
          'title':  'Cat Energy PRO 500&nbsp;г',
          'massa':  '500 г',
          'taste':  'Рыба',
          'price':  '700 Р.',
          'image':  'fish-500'
        }, {
          'title':  'Cat Energy PRO 1000&nbsp;г',
          'massa':  '1000 г',
          'taste':  'Рыба',
          'price':  '1000 Р.',
          'image':  'fish-1000'
        }, {
          'title':  'Cat Energy SLIM 500&nbsp;г',
          'massa':  '500 г',
          'taste':  'Гречка',
          'price':  '400 Р.',
          'image':  'buckwheat-500'
          }, {
          'title':  'Cat Energy SLIM 1000&nbsp;г',
          'massa':  '1000 г',
          'taste':  'Гречка',
          'price':  '700 Р.',
          'image':  'buckwheat-1000'
        }, {
          'title':  'Cat Energy SLIM 500&nbsp;г',
          'massa':  '500 г',
          'taste':  'Рис',
          'price':  '500 Р.',
          'image':  'rice-500'
        }] %}

        {% for item in product_list %}
          <article class="product-item">
            <picture class="product-item__picture">
              <source media="(min-width: 1440px)" srcset="img/content/catalog/desktop/{{ item.image }}-desktop@1x.png 1x, img/content/catalog/desktop/{{ item.image }}-desktop@2x.png 2x">
              <source media="(min-width: 768px)" srcset="img/content/catalog/tablet/{{ item.image }}-tablet@1x.png 1x, img/content/catalog/tablet/{{ item.image }}-tablet@2x.png 2x">
              <img class="product-item__image" src="img/content/catalog/mobile/{{ item.image }}-mobile@1x.png" srcset="img/content/catalog/mobile/{{ item.image }}-mobile@2x.png 2x" alt="" width="84" height="112">
            </picture>
            <h3 class="product-item__title">{{ item.title | safe }}</h3>
            <dl class="product-item__description">
              <div class="product-item__description-row">
                <dt class="product-item__definition">Масса</dt>
                <dd class="product-item__value">{{ item.massa }}</dd>
              </div>
              <div class="product-item__description-row">
                <dt class="product-item__definition">Вкус</dt>
                <dd class="product-item__value">{{ item.taste }}</dd>
              </div>
              <div class="product-item__description-row">
                <dt class="product-item__definition">Цена</dt>
                <dd class="product-item__value">{{ item.price }}</dd>
              </div>
            </dl>
            <a class="product-item__button button" href="#">Заказать</a>
          </article>
        {% endfor %}

        <div class="catalog__item">
          <a class="catalog__show-more" href="#">
            <h3 class="catalog__item-title">Показать еще 100500 товаров</h3>
            <span class="catalog__text">На самом деле вкусов гораздо больше!</span>
            <span class="catalog__button button">Показать все</span>
          </a>
        </div>
      </div>
    </section>

    <section class="sub-catalog">
      <h2 class="sub-catalog__title">Дополнительные товары</h2>

      <div class="sub-catalog__list">
        {% set additional_catalog = [{
          'title':  'Сахарозаменитель',
          'measure':  '1 упаковка (100 г)',
          'price':  '200 Р.'
        }, {
          'title':  'Питьевая вода',
          'measure':  '5 литров',
          'price':  '50 Р.'
        }, {
          'title':  'Молоко',
          'measure':  '1 литр',
          'price':  '100 Р.'
        }, {
          'title':  'Витамины',
          'measure':  '1 упаковка (30 г)',
          'price':  '300 Р.'
        }] %}

        {% for item in additional_catalog %}
          <article class="additional-item">
            <h3 class="additional-item__title">{{ item.title }}</h3>
            <dl class="additional-item__description">
              <dt class="additional-item__definition">{{ item.measure }}</dt>
              <dd class="additional-item__value">{{ item.price }}</dd>
            </dl>
            <a class="additional-item__button button" href="#">Заказать</a>
          </article>
        {% endfor %}
      </div>

      <aside class="sub-catalog__banner banner">
        <p class="banner__text">
          Закажите все
          и&nbsp;получите&nbsp;чехол&nbsp;для
          кота в подарок!
        </p>
      </aside>
    </section>
  </div>
{% endblock %}
