{% extends 'base.njk' %}
{% set title = 'Кэт энерджи: форма' %}
{% set name_page = 'form' %}

{% block content %}
  <div class="container">
<form class="form" action="https://echo.htmlacademy.ru" method="GET">
  {% set form__list = [{
    'title': 'Подбор программы',
    'lead_text': 'Заполните анкету, и мы подберем программу питания для вашего кота',
    'fieldset': [{
      'title': 'Личные данные (кота)',
      'hidden': true,
      'modifier': 'cats',
      'inputs': [{
        'title': 'Имя:*',
        'class': 'text',
        'type': 'text',
        'name': 'name',
        'id': 'name',
        'placeholder': 'Барсик',
        'required': true
      }, {
        'title': 'Вес&nbsp;(кг):*',
        'class': 'text',
        'type': 'number',
        'name': 'weight',
        'id': 'weight',
        'placeholder': '7',
        'required': true
      }, {
        'title': 'Возраст&nbsp;(лет):',
        'class': 'text',
        'type': 'number',
        'name': 'age',
        'id': 'age',
        'placeholder': '7'
      }]
    }, {
      'title': 'Цель',
      'hidden': true,
      'modifier': 'target',
      'label': 'radio',
      'inputs': [{
        'title': 'Похудение',
        'class': 'radio',
        'type': 'radio',
        'name': 'target',
        'value': 'Похудеть',
        'id': 'lose-weight',
        'checked': true
      }, {
        'title': 'Набор массы',
        'class': 'radio',
        'type': 'radio',
        'name': 'target',
        'value': 'Набрать вес',
        'id': 'mass-gain'
      }, {
        'title': 'Не знаю (Нужен ваш совет)',
        'class': 'radio',
        'type': 'radio',
        'name': 'target',
        'value': 'Нужен совет',
        'id': 'dont-know'
      }]
    }, {
      'title': 'Контактные&nbsp;данные (владельца&nbsp;кота)',
      'modifier': 'user',
      'inputs': [{
        'title': 'E-mail:*',
        'class': 'text',
        'type': 'email',
        'name': 'e-mail',
        'id': 'email',
        'placeholder': 'kuklachev@gmail.com',
        'icon': true,
        'required': true
      }, {
        'title': 'Телефон:*',
        'class': 'text',
        'type': 'tel',
        'name': 'telephone',
        'id': 'telephone',
        'placeholder': '8 (960) 900-60-90',
        'icon': true,
        'required': true
      }]
    }, {
      'title': 'Комментарий',
      'modifier': 'review',
      'textarea': [{
        'name': 'review',
        'id': 'review',
        'placeholder': 'Расскажите обо всех повадках кота'
      }]
    }, {
      'title': 'Дополнительно',
      'modifier': 'additional',
      'label': 'checkbox',
      'inputs': [{
        'title': 'Сахарозаменитель',
        'class': 'checkbox',
        'type': 'checkbox',
        'name': 'sugar',
        'id': 'sugar',
        'value': 'Сахар',
        'checked': true
      }, {
        'title': 'Питьевая вода',
        'class': 'checkbox',
        'type': 'checkbox',
        'name': 'water',
        'id': 'water',
        'value': 'Вода'
      }, {
        'title': 'Молоко',
        'class': 'checkbox',
        'type': 'checkbox',
        'name': 'milk',
        'id': 'milk',
        'value': 'Молоко'
      }, {
        'title': 'Витамины',
        'class': 'checkbox',
        'type': 'checkbox',
        'name': 'vitamins',
        'id': 'vitamins',
        'value': 'Витамины'
      }]
    }]
  }] %}

  {% for form in form__list %}
    <h1 class="form__title">{{ form.title}}</h1>

    <p class="form__text-lead">{{ form.lead_text }}</p>

    {% for fieldset in form.fieldset %}
      <fieldset class="form__fieldset form__fieldset--{{ fieldset.modifier }}">
        <h2 class="{% if fieldset.hidden %} visually-hidden {% else %} form__sub-title {% endif %}">{{ fieldset.title | safe }}</h2>

        <div class="form__section form__section--{{ fieldset.modifier }}">
          {% for input in fieldset.inputs %}
            <label class="{% if fieldset.label %} form__label form__label--{{ fieldset.label }} {% else %} form__label {% endif %}">
              <span class="form__sign">{{ input.title | safe }}</span>

              <input class="form__{{ input.class }}" type="{{ input.type }}" name="{{ input.name }}" id="{{ input.id }}-selection" value="{{ input.value }}" {% if input.placeholder %}placeholder="{{ input.placeholder }}"{% endif %} {{ 'checked' if input.checked }} {{ 'required' if input.required }}>

              {% if input.icon %}
                <span class="form__input-icon form__input-icon--{{ input.type }}"></span>
              {% endif %}
            </label>
          {% endfor %}

          {% if fieldset.textarea %}
            {% for textarea in fieldset.textarea %}
              <textarea class="form__textarea" name="{{ textarea.name }}" id="{{ textarea.id }}-selection" placeholder="{{ textarea.placeholder }}"></textarea>
            {% endfor %}
          {% endif %}
        </div>

      </fieldset>
    {% endfor %}
  {% endfor %}

  <div class="form__footer">
    <button class="form__button button" type="submit">Отправить заявку</button>
    <span class="form__reminder">* — Обязательные поля</span>
  </div>

</form>
  </div>
{% endblock %}
