{% from 'macros/svg.njk' import svg %}
{% from 'macros/picture.njk' import picture %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <link rel="preload" href="fonts/oswald-400.woff2" type="font/woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/oswald-500.woff2" type="font/woff2" as="font" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Магазин с обширным каталогом товаров для правильного питания ваших домашних животных.">
  <meta name="keywords" content="Правильное питание для домашних животных, питание для похудения, питания для набора массы, программа питания для домашних животных.">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="icon" href="favicon.ico">
  <link rel="icon" href="img/favicons/fav-icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="img/favicons/fav-icon@180.png">
  <link rel="manifest" href="manifest.webmanifest">
</head>

<body class="page">
  <header class="header header--no-js">
    <div class="header__inner container">
      <a class="header__logo logo" href="index.html">
        <picture>
          <source media="(min-width: 1440px)" srcset="img/interface/logo/logo-desktop.svg">
          <source media="(min-width: 768px)" srcset="img/interface/logo/logo-tablet.svg">
          <img class="header__logo-img" src="img/interface/logo/logo-mobile.svg" width="191" height="38" alt="Логотип Кэт Энерджи.">
        </picture>

      <ul class="header__site-navigation {{ 'site-navigation--index' if  name_page == 'index' }} site-navigation site-navigation--no-js" >
        {% set nav_links = [{
          'title':  'Главная',
          'url':  'index.html',
          'current':  'index'
        }, {
          'title':  'Каталог продукции',
          'url':  'catalog.html',
          'current':  'catalog'
        }, {
          'title':  'Подбор программы',
          'url':  'form.html',
          'current':  'form'
        }] %}

        {% for link in nav_links %}
          {% if name_page == link.current %}
            <li class="site-navigation__item">
              <a class="site-navigation__link site-navigation__link--current" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% else %}
            <li class="site-navigation__item">
              <a class="site-navigation__link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <button class="header__hamburger header__hamburger--no-js" type="button">
        <span class="header__hamburger-inner"></span>
      </button>
    </div>
  </header>

  <main class="main {{ 'main--inner' if name_page !== 'index' }}">

    {% block content %}{% endblock content %}

    <section class="address  {{ 'address--background' if  name_page !== 'index' }}">
      <div class="container">
        <div class="address__inner">
          <h2 class="address__title">
            Приглашаем
            к&#160;сотрудничеству
            дилеров!
          </h2>

          <address class="address__text">
            ул. Большая
            Конюшенная,&#160;д.&#160;19/8
            <span class="address__text-city">Санкт-Петербург</span>
          </address>
        </div>
      </div>

      <div class="address__map-wrapper">
        <a class="address__map-link" href="https://yandex.ru/maps/2/saint-petersburg/?ll=30.326522%2C59.935811&mode=routes&rtext=59.935569%2C30.326942~59.938635%2C30.323118&rtt=pd&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fll%3D30.323%252C59.939%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%25A1%25D0%25B0%25D0%25BD%25D0%25BA%25D1%2582-%25D0%259F%25D0%25B5%25D1%2582%25D0%25B5%25D1%2580%25D0%25B1%25D1%2583%25D1%2580%25D0%25B3%252C%2520%25D0%2591%25D0%25BE%25D0%25BB%25D1%258C%25D1%2588%25D0%25B0%25D1%258F%2520%25D0%259A%25D0%25BE%25D0%25BD%25D1%258E%25D1%2588%25D0%25B5%25D0%25BD%25D0%25BD%25D0%25B0%25D1%258F%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%252C%252019%252F8&z=17.83" aria-label="Проложенный маршрут от метро до нашего офиса." target="_blank"></a>
        <iframe class="address__map address__map--no-js" src="https://yandex.ru/map-widget/v1/?um=constructor%3A8dbeb7703bacea9fdbb1d24ddc1edc3a51722ed30029556e1ae3a5ff08043578&amp;source=constructor" title="Карта с местоположением нашего офиса." ></iframe>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="footer__inner container">
      <a class="footer__logo logo" href="#">
        <img src="img/interface/logo/logo-single.svg" alt="Логотип Кэт Энерджи." width="128" height="24">
      </a>

      <ul class="footer__social-list social-list">
        {% set social_links = [{
          'svg':  'icon-vk',
          'url':  'vk.com/htmlacademy',
          'aria': 'Мы в вконтакте.'
        }, {
          'svg':  'icon-you',
          'url':  'www.youtube.com/c/HTMLAcademyRUS/',
          'aria': 'Мы в ютубе.'
        }, {
          'svg':  'icon-tg',
          'url':  't.me/htmlacademy',
          'aria': 'Мы в телеграме.'
        }] %}

        {% for link in social_links %}
          <li>
            <a class="social-list__link" href="https://{{ link.url }}" target="_blank">
              {{ svg('social-list__image', link.svg, link.aria , '28', '22') }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <div class="footer__madeby">
        <a class="footer__madeby-link" href="https://htmlacademy.ru/intensive/adaptive" target="_blank">
          <span class="footer__madeby-text">HTML Academy</span>

          {{ svg('footer__social-icon', 'icon-academy', 'text', '27', '34') }}
        </a>
      </div>
    </div>
  </footer>

  <script src="js/header-menu.js"></script>
  <script src="js/no-script.js"></script>
  {% block js %}{% endblock %}
</body>

</html>
