<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body class="page">
  <header class="header">
    <a class="header__logo logo" href="index.html">
      <picture>
        <source media="(min-width: 1440px)" srcset="img/interface/logo/logo-desktop.svg">
        <source media="(min-width: 768px)" srcset="img/interface/logo/logo-tablet.svg">
        <img class="header__logo-img" src="img/interface/logo/logo-mobile.svg" width="191" height="38" alt="Логотип Кэт Энерджи.">
      </picture>
    </a>

    <ul class="header__site-navigation site-navigation">
      {% set nav_links = [{
        'title':  'Главная',
        'url':  'index.html',
        'current':  'index'
      }, {
        'title':  'Каталог продукции',
        'url':  'catalog.html',
        'current':  'catalog'
      }, {
        'title':  'Подбор программы',
        'url':  'form.html',
        'current':  'form'
      }] %}

      {% for link in nav_links %}
        {% if name_page == link.current %}
          <li class="site-navigation__item">
            <a class="site-navigation__link site-navigation__link--current" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% else %}
          <li class="site-navigation__item">
            <a class="site-navigation__link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <button class="header__hamburger" type="button">
      <div class="header__hamburger-inner"></div>
    </button>
  </header>

  <main class="main">

    {% block content %}{% endblock content %}

    <section class="address  {{ 'address--background' if  name_page !== 'index' }}">
      <div class="container">
        <div class="address__inner">
          <h2 class="address__title">
            Приглашаем
            к&#160;сотрудничеству
            дилеров!
          </h2>

          <address class="address__text">
            ул. Большая
            Конюшенная,&#160;д.&#160;19/8
            <span class="address__text-city">Санкт-Петербург</span>
          </address>
        </div>
      </div>

      <div class="address__map-wrapper">
        <iframe class="address__map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A8dbeb7703bacea9fdbb1d24ddc1edc3a51722ed30029556e1ae3a5ff08043578&amp;source=constructor"></iframe>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="footer__inner container">
      <a class="footer__logo logo" href="#">
        <img src="img/interface/logo/logo-single.svg" alt="Логотип Кэт Энерджи." width="128" height="24">
      </a>

      <ul class="footer__social-list social-list">
        {% set social_links = [{
          'svg':  'vk',
          'url':  'vk.com/htmlacademy',
          'aria': 'Мы в вконтакте.'
        }, {
          'svg':  'you',
          'url':  'www.youtube.com/c/HTMLAcademyRUS/',
          'aria': 'Мы в ютубе.'
        }, {
          'svg':  'tg',
          'url':  't.me/htmlacademy',
          'aria': 'Мы в телеграме.'
        }] %}

        {% for link in social_links %}
          <li>
            <a class="social-list__link" href="https://{{ link.url }}" target="_blank">
              <svg class="social-list__image" aria-label="{{ link.aria }}" width="28" height="22">
                <use xlink:href="img/sprite.svg#icon-{{ link.svg }}"></use>
              </svg>
            </a>
          </li>
        {% endfor %}
      </ul>

      <div class="footer__madeby">
        <a class="footer__madeby-link" href="https://htmlacademy.ru/">
          <span class="footer__madeby-text">HTML Academy</span>
          <svg class="social-list__image" aria-label="Логотип HTML Academy." width="27" height="34">
            <use xlink:href="img/sprite.svg#icon-academy"></use>
          </svg>
        </a>
      </div>
    </div>
  </footer>
  <script src="js/header-menu.js"></script>
  <script src="js/slider.js"></script>
</body>

</html>
