body {
  min-width: 320px;
  margin: 0 auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: var(--grey);

  background-color: var(--white);
}

*,
::before,
::after {
  box-sizing: border-box;
}

img {
  display: block;
}
